html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'PT Mono', monospace;
    font-family: 'JetBrains Mono', monospace;
    color: white;
    padding-left: 4%;
}

@-webkit-keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.chair {
    text-align: left;
    font-size: 128px;
    color: white;
}

a{
    text-decoration-line: none;
}

.chair-under {
    text-align: left;
    font-size: 40px;
    color: white;
    margin-top: 30px;
}
 
.chair-image {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 5s;
    animation-name: fadeIn;
    animation-duration: 5s;
    float: right;
    width: 500px;
    height: 500px;
    margin-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
}

nav{
    margin-top: 5%;
    text-align: center;
}

main{
    margin-top: 10%;
    margin-bottom: 30%;
}
.subtitle{
    padding-top: 2%;
    text-align:left;
    font-weight: bold;
    font-size: 65px;
}

.subtitle-p{
    padding-top: 2%;
    text-align:left;
    font-weight: bold;
    font-size: 45px;
}

.underline{
    text-decoration-line: underline;
    text-decoration-color: red;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-color: red;
}

p{
    font-size: 30px;
    padding-right: 4%;
}

.spisok{
    font-size: 30px;
}